<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <%= image_tag 'logo_branca.png', alt:'Letra G em cor branca', class:"navbar-brand"%>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">SOBRE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">A CLINICA</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">PROCEDIMENTOS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">ESTÉTICA</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div id="container-header" class="bg-image" style="background-image: url(<%= asset_path 'hero-img.jpg' %>);">
  <div class="mask">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text-white hero-box">
        <h1 class="mb-3">Sua versão mais bonita e elegante</h1>
        <p>Acredito em oferecer ao paciente uma experiência singular, combinando tecnologia e arte para revelar sua verdadeira beleza. Usando uma abordagem personalizada, cada tratamento é cuidadosamente selecionado para atender às necessidades individuais de cada paciente, proporcionando resultados sofisticados, naturais e elegantes.</p>

        <a>Agende agora</a>
      </div>
    </div>
  </div>
</div>

<section class="mission">
  <div>
    <i class="fas fa-bullseye"></i>
    <h1>Missão</h1>
    <p>Praticar uma medicina baseada em honestidade, eficácia, confiança, credibilidade e aprimoramento constante. </p>
  </div>

  <div>
    <i class="fas fa-hand-holding-heart"></i>
    <h1>Visão</h1>
    <p>Ser reconhecida pela tecnologia de ponta utilizada e procedimentos estéticos avançados com naturalidade. Entregar os melhores resultados com qualidade e eficiência, com foco na saúde física, mental e emocional dos pacientes.</p>
  </div>

  <div>
    <i class="fas fa-flag"></i>
    <h1>Valores</h1>
    <p>Proporcionar o bem-estar dos meus pacientes e as melhores experiências.
      Dedicação em cuidar de forma integrada, prezando a qualidade de vida através da ética e humanização dos serviços. </p>
  </div>
  
</section>


