<div id="container-header" class="bg-image" style="background-image: url(<%= asset_path '12.jpg' %>);">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <%= image_tag 'logo_branca.png', alt:'Letra G em cor branca', class:"navbar-brand"%>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">SOBRE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">A CLINICA</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">PROCEDIMENTOS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">ESTÉTICA</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="mask">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text-white hero-box">
        <h1 class="mb-3">Sua versão mais bonita e elegante</h1>
        <p>Acredito em oferecer ao paciente uma experiência singular, combinando tecnologia e arte para revelar sua verdadeira beleza. Usando uma abordagem personalizada, cada tratamento é cuidadosamente selecionado para atender às necessidades individuais de cada paciente, proporcionando resultados sofisticados, naturais e elegantes.</p>

        <a>Agende</a>
      </div>
    </div>
  </div>
</div>
