<div id="container-header" class="bg-image">
  <div class="mask">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text-white hero-box">
        <h1 class="mb-3">Sua versão mais bonita e elegante</h1>
        <p>Acredito em oferecer ao paciente uma experiência singular, combinando tecnologia e arte para revelar sua verdadeira beleza. Usando uma abordagem personalizada, cada tratamento é cuidadosamente selecionado para atender às necessidades individuais de cada paciente, proporcionando resultados sofisticados, naturais e elegantes.</p>

        <a>Agende agora</a>
      </div>
    </div>
  </div>
</div>
