<section class="mission">
  <div>
    <i class="fas fa-bullseye"></i>
    <h1>Missão</h1>
    <p>Praticar uma medicina baseada em honestidade, eficácia, confiança, credibilidade e aprimoramento constante. </p>
  </div>

  <div>
    <i class="fas fa-hand-holding-heart"></i>
    <h1>Visão</h1>
    <p>Ser reconhecida pela tecnologia de ponta utilizada e procedimentos estéticos avançados com naturalidade. Entregar os melhores resultados com qualidade e eficiência, com foco na saúde física, mental e emocional dos pacientes.</p>
  </div>

  <div>
    <i class="fas fa-flag"></i>
    <h1>Valores</h1>
    <p>Proporcionar o bem-estar dos meus pacientes e as melhores experiências.
      Dedicação em cuidar de forma integrada, prezando a qualidade de vida através da ética e humanização dos serviços. </p>
  </div>
  
</section>

<section class="image-galery-hero">
  <img src="./images/squared/geisa.jpeg" alt="Geisa">
  <img src="./images/squared/lupa.jpeg" alt="Geisa">
  <img src="./images/squared/geisa_sitdown.jpg" alt="Geisa">
  <img src="./images/squared/glasses.png" alt="Geisa">
  <img src="./images/squared/geisa_3.jpg" alt="Geisa">
  <img src="./images/squared/geisa_smile.jpeg" alt="Geisa">
</section>


<section class="who">
  <div id="whoami">
    <img src="./images/squared/thumb.png" alt="Foto do rosto da Dra. Geisa">
  </div>
  
  <div id="itsme">
    <h1>Dra. Geisa Garcia Viana</h1>
    <h2>CRM-MS: 12.852</h2>

    <div class="content-me">
      <p>Médica especializada em Estética Avançada com alta expertise em injetáveis e tecnologias para a saúde da pele</p>
      <p>Membro da <i>International Society of Dermatology</i> – ISD</p>
      <p>Membro da Sociedade Brasileira de Laser em Medicina e Cirurgia - SBLMC</p>
      <p>Pós-graduação em Dermatologia pelo Núcleo Superior de Ciências Humanas e da Saúde BWS, São Paulo - SP – Dezembro 2020</p>
      <p>Formação em Medicina pela Faculdade Santa Marcelina, São Paulo- SP – Julho 2018</p>
    </div>
    
    <div id="social">
      <a href="#"> <i class="fa-brands fa-facebook"></i> </a>
      <a href="#"> <i class="fa-brands fa-instagram"></i> </a>
      <a href="#"> <i class="fa-brands fa-whatsapp"></i> </a>
      <a href="#"> <i class="fa-solid fa-location-dot"></i> </a>
    </div>
  </div>
</section>

<section id="clinic">
  <article>
    <h1>A CLÍNICA</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam corporis exercitationem impedit dolor velit tempore adipisci dolores nobis quos officiis aliquam repellendus commodi animi at perspiciatis, iure nesciunt voluptates libero!</p>
  </article>

  <div>
    <img src="./images/full_size/5.jpeg" alt="">
    <img src="./images/full_size/5.jpeg" alt="">
    <img src="./images/full_size/5.jpeg" alt="">
  </div>
</section>
