<section class="mission">
  <div>
    <h1>Nossos Valores</h1>
    <p>Nossos valores incluem a prática de uma medicina baseada em honestidade, eficácia, confiança, credibilidade e constante aprimoramento. Nosso objetivo é ser reconhecidos pelo uso de tecnologia avançada e procedimentos estéticos que preservam a naturalidade, buscando sempre os melhores resultados com qualidade e eficiência, com um foco integral na saúde física, mental e emocional dos pacientes. Além disso, buscamos proporcionar o bem-estar dos nossos pacientes, oferecendo experiências excepcionais. Nosso compromisso é com o cuidado integrado, priorizando a qualidade de vida através da ética e da humanização dos serviços que prestamos.</p>
  </div>
</section>

<section class="image-galery-hero">
  <img src="./images/squared/mosaico_1.jpg" alt="Geisa">
  <img src="./images/squared/mosaico_2.jpg" alt="Geisa">
  <img src="./images/squared/mosaico_3.jpg" alt="Geisa">
  <img src="./images/squared/mosaico_4.jpg" alt="Geisa">
  <img src="./images/squared/mosaico_5.jpg" alt="Geisa">
  <img src="./images/squared/mosaico_6.jpg" alt="Geisa">
</section>

<section class="quote-container">
  <i class="fas fa-quote-left quote-icon"></i>
  <blockquote class="quote">
    A beleza é sempre bem-vinda.
    <cite class="author">- Wolfgang Von Goethe</cite>
  </blockquote>
  <i class="fas fa-quote-right quote-icon"></i>
</section>

<section class="who">
  <div id="whoami">
    <img src="./images/squared/img_crm.jpg" alt="Foto do rosto da Dra. Geisa">
  </div>
  
  <div id="itsme">
    <div id="left">
      <h1>Dra. Geisa Garcia Viana</h1>
      <h2>CRM|MS 12852</h2>
      
      <div id="social">
        <a href="https://linktr.ee/drageisagarcia" target="_blank"><img src="./images/squared/linktree.png" alt="linktree"> Linktree </a>
      </div>
    </div>
  <iframe id="maps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3692.836221634898!2d-53.347915099999994!3d-22.246292!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x948e7d1e07021d5d%3A0xf2e4d6e959eb3b59!2sR.%20Imac.%20Concei%C3%A7%C3%A3o%2C%201368%20-%20Centro%2C%20Nova%20Andradina%20-%20MS%2C%2079750-000!5e0!3m2!1spt-BR!2sbr!4v1722026692525!5m2!1spt-BR!2sbr" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

  </div>
</section>

<section id="clinic">
  <article>
      <img src="./images/full_size/assinatura.jpeg" alt="Imagem da assinatura da Dra. escrita em um papel" class="signature">
      <p>Médica especializada em Estética Avançada com alta expertise em injetáveis e tecnologias para a saúde da pele</p>
      <p>Membro da <i>International Society of Dermatology</i> – ISD</p>
      <p>Membro da Sociedade Brasileira de Laser em Medicina e Cirurgia - SBLMC</p>
      <p>Pós-graduação em Dermatologia pelo Núcleo Superior de Ciências Humanas e da Saúde BWS, São Paulo - SP – Dezembro 2020</p>
      <p>Formação em Medicina pela Faculdade Santa Marcelina, São Paulo- SP – Julho 2018</p>
  </article>

  <div class="container-pictures">
    <img src="./images/squared/curriculo_01.jpg" alt="">
    <img src="./images/squared/curriculo_02.jpg" alt="">
    <img src="./images/squared/curriculo_03.jpg" alt="">
  </div>
</section>

<div class="carousell">

  <div id="our-services">
    <div id="header-services">
      <p>NOSSOS SERVIÇOS</p>
      <p>Realizamos</p>
    </div>
    <a href="https://www.instagram.com/drageisagarcia/">Agendar horário</a>
  </div>

  <div class="service" data-toggle="modal" data-target="#butox">
    <i class="fa fa-syringe"></i>
    <div>
      <p class="carousel-title">Toxina Butolínica</p>
      <p>A toxina botulínica, popularmente conhecida como Botox, é uma proteína produzida pela bactéria Clostridium botulinum que atua bloqueando a contração muscular.</p>
    </div>
  </div>

  <div class="service" data-toggle="modal" data-target="#preenchimento">
    <i class="fa fa-syringe"></i>
    <div>
      <p class="carousel-title">Preenchimento</p>
      <p>O preenchimento é um procedimento estético que utiliza substâncias como ácido hialurônico para restaurar volume, suavizar rugas e melhorar o contorno facial.</p>
    </div>
  </div>

  <div class="service" data-toggle="modal" data-target="#ultraformer">
    <i class="fa fa-syringe"></i>
    <div>
      <p class="carousel-title">Ultraformer</p>
      <p>O Ultraformer é um tratamento estético não invasivo que utiliza ultrassom micro e macrofocado para estimular a produção de colágeno, resultando em sustentação e firmeza da pele.</p>
    </div>
  </div>

  <div class="service" data-toggle="modal" data-target="#microagulhamento">
    <i class="fa fa-syringe"></i>
    <div>
      <p class="carousel-title">Microagulhamento (MMP) Capilar</p>
      <p>O microagulhamento capilar é um procedimento estético que utiliza microagulhas estéreis para criar pequenas perfurações no couro cabeludo, estimulando a circulação sanguínea, a produção de colágeno e revitalização dos fios de cabelo.</p>
    </div>
  </div>
  
  <div class="service" data-toggle="modal" data-target="#peeling">
    <i class="fa fa-syringe"></i>
    <div>
      <p class="carousel-title">Peeling</p>
      <p>O peeling é um procedimento estético que promove a renovação da pele através da aplicação de substâncias químicas ou técnicas físicas.</p>
    </div>
  </div>
  
  <div class="service" data-toggle="modal" data-target="#limpeza">
    <i class="fa fa-syringe"></i>
    <div>
      <p class="carousel-title">Limpeza de pele</p>
      <p>A limpeza de pele é um procedimento estético que remove impurezas, células mortas e excesso de oleosidade da pele.</p>
    </div>
  </div>
  
  <div class="service" data-toggle="modal" data-target="#fotona">
    <i class="fa fa-syringe"></i>
    <div>
      <p class="carousel-title">Fotona</p>
      <p>Fotona é uma tecnologia de laser avançada utilizada em diversos tratamentos estéticos e terapêuticos. Combinando diferentes tipos de laser, o Fotona oferece soluções eficazes para rejuvenescimento da pele.</p>
    </div>
  </div>

  <%= render partial: 'home/shared/modals' %>
</div>

<div id="photos-gallery">
  <h1>Conheça nossos espaços</h1>
</div>

<section id="gallery">
  <img src="./images/squared/146.jpg" alt="Geisa">
  <img src="./images/squared/69.jpg" alt="Geisa">
  <img src="./images/squared/106.jpg" alt="Geisa">
  <img src="./images/squared/11.jpg" alt="Geisa">
  
  <img src="./images/squared/192.jpg" alt="Geisa">
  <img src="./images/squared/91.jpg" alt="Geisa">
  <img src="./images/squared/2.jpg" alt="Geisa">
  
  <img src="./images/squared/65.jpg" alt="Geisa">
  <img src="./images/squared/59.jpg" alt="Geisa">
  <img src="./images/squared/72.jpg" alt="Geisa">
  <img src="./images/squared/63.jpg" alt="Geisa">
</section>

<footer class="footer">
  <div class="footer-content">

      <div class="qr-code">
          <img src="./images/squared/code.png" alt="QR Code">
      </div>

      <div class="profile-pic">
        <img src="./images/squared/166.jpg" alt="Dra. Geisa Garcia Viana">
        <div class="social">
          <a href=""><i class="fa-brands fa-instagram"></i></a>
          <a href=""><i class="fa-brands fa-whatsapp"></i></a>
          <a href=""><i class="fa-brands fa-facebook"></i></a>
          </div>
      </div>

      <div class="details">
        <div id="identification">
          <h3>Dra. Geisa Garcia Viana</h3>
          <p>CRM/MS 12.345</p>
        </div>

        <p class="infos-footer no-margin"><i class="fas fa-phone"></i> (67)<span> 3441-1234</span></p>
        <p class="infos-footer"><i class="fa-brands fa-whatsapp"></i> (67)<span> 9 9898-1234</span></p>
        <p class="infos-footer no-margin"><i class="fas fa-map-marker-alt"></i> Rua Imaculada Conceição, 1368</p>
        <p class="infos-footer">Centro, Nova Andradina, MS</p>
      </div>

  </div>

  <hr/>

  <div id="responsible">
    <p>Clínica Médica de acordo com as determinações da ANVISA (Agência Nacional de Vigilância Sanitária) e CRM (Conselho Regional de Medicina)</p>
    <p>Responsável Técnico: Dr. Fernando Abrão Fróes de Moraes CRM|MS 11146 | RQE 6620-6621</p>
  </div>
  <div class="footer-bottom">
      <p>Todos os direitos reservados © 2024</p>
  </div>
</footer>
