<div class="modal fade" id="butox" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Toxina Botulínica</h5>
        <%# <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button> %>
      </div>
      <div class="modal-body modal-services">
        <img src="./images/squared/106.jpg" alt="">
        <p>A toxina botulínica, popularmente conhecida como Botox, é uma proteína produzida pela bactéria Clostridium botulinum que atua bloqueando a contração muscular. Possui diversas indicações estéticas como redução de rugas na testa, pés de galinha, arqueamento de sobrancelhas e definição de contorno facial.  Também usada para tratamentos clínicos como hiperidrose (controle do excesso de sudorese nas axilas, mãos, pés e couro cabeludo), enxaqueca, bruxismo e tensão muscular. Os efeitos da toxina botulínica não são permanentes e geralmente duram de 3 a 5 meses, necessitando de aplicações regulares para manutenção.</p>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="preenchimento" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Preenchimento</h5>
        <%# <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button> %>
      </div>
      <div class="modal-body modal-services">
        <img src="./images/squared/106.jpg" alt="">
        <p>O preenchimento é um procedimento estético que utiliza substâncias como ácido hialurônico para restaurar volume, suavizar rugas e melhorar o contorno facial. É uma técnica minimamente invasiva aplicada através de injeções. Indicado para redução de rugas, aumento de volume em lábios e outras áreas da face, contorno facial e correção de assimetrias. Os resultados são imediatos e duram de 12 a 24 meses dependendo do produto utilizado e da área tratada. </p>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="ultraformer" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Ultraformer</h5>
        <%# <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button> %>
      </div>
      <div class="modal-body modal-services">
        <img src="./images/squared/106.jpg" alt="">
        <p>O Ultraformer é um tratamento estético não invasivo que utiliza ultrassom micro e macrofocado para estimular a produção de colágeno, resultando em sustentação e firmeza da pele. É uma opção para quem busca rejuvenescimento facial e corporal sem cirurgia. Pode ser indicado para melhora da firmeza e contorno do rosto, redução de flacidez facial, de papada, pescoço, colo, braços, abdômen e outras áreas do corpo. Os resultados são progressivos, melhorando ao longo de 2 a 3 meses após o tratamento e podendo durar até um ano. O procedimento é seguro, rápido e sem tempo de recuperação, permitindo que você retorne às atividades diárias imediatamente.</p>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="microagulhamento" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Microagulhamento (MMP) Capilar</h5>
        <%# <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button> %>
      </div>
      <div class="modal-body modal-services">
        <img src="./images/squared/106.jpg" alt="">
        <p>O microagulhamento capilar é um procedimento estético que utiliza microagulhas estéreis para criar pequenas perfurações no couro cabeludo, estimulando a circulação sanguínea, a produção de colágeno e revitalização dos fios de cabelo. Este processo promove o crescimento capilar e melhora a saúde dos fios. Indicado para fortalecimento dos fios, redução da queda de cabelo e melhora da saúde do couro cabeludo. Associado a medicações que são aplicadas durante o procedimento que otimizam ainda mais os fios. Os resultados são progressivos, com melhorias visíveis após algumas sessões.</p>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="peeling" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Peeling</h5>
        <%# <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button> %>
      </div>
      <div class="modal-body modal-services">
        <img src="./images/squared/106.jpg" alt="">
        <p>O peeling é um procedimento estético que promove a renovação da pele através da aplicação de substâncias químicas ou técnicas físicas. Ele remove camadas superficiais da pele, estimulando a regeneração celular e melhorando a qualidade da pele. Usado para rejuvenescimento facial, tratamento de acne e cicatrizes, uniformização do tom de pele, controle de oleosidade e aparência de poros dilatados. Os resultados variam conforme o tipo de peeling e a condição tratada, com melhorias visíveis após algumas sessões.</p>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="limpeza" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Limpeza de Pele</h5>
        <%# <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button> %>
      </div>
      <div class="modal-body modal-services">
        <img src="./images/squared/106.jpg" alt="">
        <p>A limpeza de pele é um procedimento estético que remove impurezas, células mortas e excesso de oleosidade da pele. É essencial para manter a pele saudável, prevenir acne, hidratação e nutrição da pele tratada deixando mais lisa e uniforme. Também é indicada para preparação da pele para outros procedimentos estéticos e pode ser associada ao Fotoage. O Fotoage é uma máscara de diodo de alta densidade que libera energia luminosa através de leds usado em procedimentos anti-inflamatórios, uniformização do tom de pele, penetração de ativos e controle de alergias ou irritações.</p>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="fotona" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Fotona</h5>
        <%# <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button> %>
      </div>
      <div class="modal-body modal-services">
        <img src="./images/squared/72.jpg" alt="">
        <p>Fotona é uma tecnologia de laser avançada utilizada em diversos tratamentos estéticos e terapêuticos. Combinando diferentes tipos de laser, o Fotona oferece soluções eficazes para rejuvenescimento da pele, melhora da textura geral e qualidade de pele, flacidez, tratamento de cicatrizes de acne e corporais, remoção de pelos, tratamento de vasinhos faciais e corporais, além do clareamento de manchas. Indicado clinicamente no tratamento de lesões benignas de pele e condições como rosácea, micoses de unha e pele. Além disso estimula o crescimento de pelos e cabelos sendo associado nos tratamentos capilares. Os resultados são visíveis após poucas sessões, com melhora contínua ao longo do tempo.</p>
      </div>
    </div>
  </div>
</div>
