@import "bootstrap";
@import url('https://fonts.cdnfonts.com/css/amalfi-coast');

#container-header{
  background-size: 50%;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: right;
  position: relative;
}
.mask{
  width: 55%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0px, rgba(139, 124, 100, 1) 80px);
}

.hero-box{
  width: 80%;
  text-align: right;
  padding-left: 3rem;
}

.hero-box p{
  border-right: solid 6px #E2C3B4;
  padding-right: 10px;
  margin-bottom: 4rem;
  margin-top: 3rem;
}

.hero-box a{
  border: solid 3px #ECDFBA;
  color: #ECDFBA;
  border-radius: 15px;
  padding: 0.6rem 2rem;
  font-size: 1.2rem;
  font-weight: bold;
}
.container-fluid{
  width: 90%;
}
.navbar {
  background-color: transparent !important;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-nav .nav-link {
  color: #ffffff !important;
  font-weight: bold;
}

.navbar-toggler {
  border-color: rgba(255, 255, 255, 0.5);
}

.navbar-brand{
  width: 2.3rem;
}

.fa-bars{
  color: #FFFFFF;
}
.navbar-toggler:focus{
  box-shadow: 0 0 0 #FFFFFF;
}

.mission{
  display: flex;
  width: 100%;
  padding: 5% 10%;
}
.mission div{
  text-align: center;
  width: 33%;
  padding: 0 3%;
  color: #142236;
  margin: 2rem 0;
}
.mission i{
  font-size: 3rem;
}
.mission p{
  color: #8B7C64;
}

.image-galery-hero{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.image-galery-hero img{
  width: 33.33%;
}

.who{
  width: 100%;
  padding: 5% 8%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #E2C3B4;
}
#whoami{
  width: 20%;
}
#whoami img{
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
#itsme{
  width: 80%;
  padding-left: 5%;
  color: #142236;
}
#itsme h1{
  font-size: 2.2rem;
}
#itsme h2{
  font-size: 1.5rem;
  padding-bottom: 15px;
  position: relative;
  display: inline-block;
}

#itsme h2::after {
  content: '';
  display: block;
  width: 50%;
  margin: 8px 0;
  border-bottom: 2px solid #142236;
}
#itsme p {
  font-size: 1.2rem;
  line-height: 1.8rem;
}
#social i {
  margin-top: 0.8rem;
  font-size: 2rem;
  margin-right: 1.3rem;
}
#social a{
  text-decoration: none;
  color: #8B7C64;
}
#clinic{
  width: 100%;
  padding: 5% 10%;
  display: flex;
  flex-wrap: wrap;
}
#clinic article{
  width: 50%;
}
#clinic div{
  width: 50%;
  padding-left: 5%;
}
#clinic div img{
  width: 30%;
}
.signature{
  font-family: 'Amalfi Coast', sans-serif;
  margin-bottom: 10%;
}

article {
  margin-bottom: 20px;
}

.container-pictures {
  left: 2rem;
}

.carousel-item{
  width: 100%;
}
.carousell{
  background-image: url('./images/full_size/foto.jpg');
  min-height: 70vh;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
}

#our-services{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-weight: bold;
  padding: 2% 0;
}
#header-services p:first-child{
  margin: 0;
}
#header-services p:nth-child(2){
  font-size: 2rem;
}
#our-services a{
  padding: 5px 27px;
  border: solid 2px #142236;
  border-radius: 10px;
  text-decoration: none;
  line-height: 2rem;
  height: 3rem;
  color: #142236;
}

.service {
  width: 30%;
  display: flex;
  background-color: #fff;
  border-radius: 5px;
  padding: 1% 2%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.service i {
  font-size: 2rem;
  margin-right: 0.5rem;
}

.carousel-title {
  font-weight: bold;
  font-size: 1.3rem;
}

.service p {
  color: #383838;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Número de linhas a serem exibidas */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}


@media screen and (max-width: 991.98px) {
  .hero-box {
    width: 90%;
    text-align: center;
    padding-left: 2rem;
  }

  #container-header {
    background-size: 70%;
  }
  .mission{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .mission div{
    width: 50%;
  }
  .image-galery-hero img{
    width: 50%;
  }
  .who,
  #itsme{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10% 3%;
    width: 100%;
  }
  #whoami{
    width: 50%;
  }

  #clinic div,
  #clinic article {
    width: 100%;
  }
  .service{
    width: 100%;
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 575.98px) {
  .hero-box {
    width: 100%;
    text-align: center;
    padding-left: 1rem;
  }

  .mask {
    width: 100%;
    background: none;
    background: linear-gradient(to bottom, rgba(139, 124, 100, 0) 0%, rgba(139, 124, 100, 1) 60%);
  }

  #container-header {
    background-size: 100%;
  }

  .mission{
    flex-direction: column;
  }
  .mission div{
    width: 100%;
  }
  .image-galery-hero img{
    width: 100%;
  }
  .who,
  #itsme{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
  }
  #whoami{
    width: 50%;
  }
  #clinic div,
  #clinic article {
    width: 100%;
  }
  #header-services{
    width: 100%;
  }

}

